/* .PortfolioIsVisible{
    transform: translateX(0%);
    opacity:1;
    transition: all 2s cubic-bezier(.7,.8,.74,.68);
    
}
.PortfolioIsNotVisible{
    transform: translateX(-100%);
    opacity: 0;
} */